
body {
	background-color:#191919;
}

h1, h2 {
	color:#E6E6E6;
}

.dropdown-menu {
	background-color:#222;
}

.dropdown-menu>li>a {
	color:#FFF;
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	color:#333;
}

.title {
	margin-top: 30px;
	margin-bottom: 20px;
}
.gameTitle {
	margin-bottom: 20px;
}

#content {
	text-align:center;
}

#content>a, #content>p>a {
	color: #AEAEAE;
}

#content>a:hover, #content>p>a:hover {
	color: #E6E6E6;
}

#content>p {
	margin-top:10px;
}

#tab {
	font-size:50px;
	color:#E6E6E6;
}

#tab>tbody>tr>td {
	text-align: center;
}

.square {
    width:100px;
    height:100px;
}

.v {
    border-left: 5px solid #E6E6E6;
    border-right: 5px solid #E6E6E6;
}

.h {
    border-top: 5px solid #E6E6E6;
    border-bottom: 5px solid #E6E6E6;
}

#message {
	color:#E6E6E6;
	padding-top: 15px;
}

@media (max-width: 600px) {
	.gameTitle {
		font-size: 7.5vw;
	}
}
